{
	"env": { "shared-node-browser":true },
	"globals": {},
	"parserOptions": {
		"ecmaVersion": 3,
	},
	"plugins": [ "html", "json" ],
	"extends": "eslint:recommended",
	"rules": {
		"comma-style": [ 2, "last" ],
		"comma-dangle": [ 2, "never" ],
		"curly": 0,
		"no-bitwise": 0,
		"no-console": 0,
		"no-trailing-spaces": 2,
		"semi": [ 2, "always" ]
	}
}
